<app-nav></app-nav>
<div class="container">

  <div class="row boutton" style="margin-top: 200px;">
    <button class="btn btn-warning" (click)="onBack()">Annuler</button>
   
    <button *ngIf="verifierClicked &&  loading==false" id="approuved" class="btn btn-success" (click)="clickApprouve()" >Approuver</button>
    <div *ngIf="loading==true" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">loading</span>
      </div>
    </div>
    <button class="btn btn-info" id="Jirafe" style="color: black;">
      <a href="http://girafe-new.intranet.gouv.sn/" id="Jirafe" (click)="onVerifierClicked()"  style="color: black;" target="_blank">Vérifier sur Jirafe</a>
    </button>
    <div class="dropdown navbar navbar-expand-lg navbar-light bg-light">
      <!-- <button id="myBtn" class="btn btn-danger" (click)="openModal()">Rejeter</button>  -->
      <button id="myBtn" *ngIf="onRejet==false" class="btn btn-danger" (click)="clickToRejetPdf()">Rejetez</button> 
      <div *ngIf="onRejet==true" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">loading</span>
        </div>
      </div>
     
    <div id="myModal" class="modal" *ngIf="isModalMatriculeOpen">
      <div class="modal-content">
        <span class="close" (click)="closeModalMatricule()">&times;</span> 
        <input [(ngModel)]="currentDemandeur.matriculeSolde" placeholder="Saisir le matricule de la solde">
        <button id="myBtn" (click)="onRejectDemande()" class="btn btn-danger" [disabled]="!currentDemandeur.matriculeSolde?.trim() || loadingMatriculeSolde">
          Valider son Matricule
        </button>
        <div *ngIf="loadingMatriculeSolde" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading ...</span>
          </div>
        </div>
      </div>
    </div>
    <!-- fin pupup add Matricule Solde -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <table class="table table-bordered">
        <tr>
          <td>Prenom:</td>
          <th>{{currentDemande.demandeurDTO?.prenom  }}</th>
        </tr>
        <tr>
          <td>Nom:</td>
          <th>{{currentDemande.demandeurDTO?.nom}}</th>
        </tr>
        <tr>
          <td>Date de naissance:</td>
          <!-- <th>{{ formatDateToDDMMYYYY(currentDemande.demandeurDTO?.datedenaissance!) }}</th> -->
          <!-- <th>{{currentDemande.demandeurDTO?.datedenaissance | date: 'dd-MM-yyyy'}}</th> -->
          <th>{{currentDemande.demandeurDTO?.datedenaissance }}</th>
        </tr>
        <tr>
          <td>Lieu de naissance:</td>
          <th>{{currentDemande.demandeurDTO?.lieudenaissance}}</th>
        </tr>
        <tr>
          <td>CNI:</td>
          <th>{{currentDemande.demandeurDTO?.nin}}</th>
        </tr>
        <tr>
          <td>Email:</td>
          <th>{{currentDemande.demandeurDTO?.email}}</th>
        </tr>
        <tr>
          <td>Télephone:</td>
          <th>{{currentDemande.demandeurDTO?.telephone}}</th>
        </tr>
        <tr>
          <td>Fonction:</td>
          <th>{{currentDemande.demandeurDTO?.fonction}}</th>
        </tr>
        <tr>
          <th colspan="2"> 
            <a style="font-size: 20px;" [routerLink]="['/update-by-admin',currentDemande.demandeurDTO?.id]"
            title="Cliquez ici pour modifier les informations de cet utilisateur">Modifier</a>
          </th>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <div class="wrapper col-md-12 mb-3 mt-5">
        <!-- *ngIf="currentDemande.demandeurDTO?.fieluploads?.length" -->
        <div *ngFor="let image of currentDemande.demandeurDTO?.fieluploads" class="mb-3">
          <iframe
            [src]="santizer.bypassSecurityTrustResourceUrl(urlimage + '/api/uploads/getImageByIdFile/' + image.id)"
            style="height: 65vh; width: 75vh;"
            frameborder="1">
          </iframe>
          <!-- <p>{{urlimage + '/api/uploads/getImageByIdFile/' + image.id}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


