
<app-nav></app-nav>
<div class="container">

  <div class="floating-form">
    <h5 class="text-center mb-3">COMPLETEZ VOS INFORMATIONS</h5>
    <form [formGroup]="demandeurForm" style="margin-top: 40px;">
     
  
      <div class="form-sections">
        <!-- Informations personnelles -->
        <fieldset>
          <legend>Informations personnelles</legend>
  
          <div class="form-group">
            <input readonly type="text" name="nin" formControlName="nin" [(ngModel)]="user.nin" placeholder=" " [readOnly]/>
            <label>NIN<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input readonly type="text" name="prenom" formControlName="prenom" [(ngModel)]="user.prenom" placeholder=" " [readOnly]/>
            <label>Prénom<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input readonly type="text" name="nom" formControlName="nom" [(ngModel)]="user.nom" placeholder=" "  [readOnly]/>
            <label>Nom<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input type="date" formControlName="datedenaissance"  placeholder=" "/>
            <label>Date de naissance<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input type="text" name="lieudenaissance" formControlName="lieudenaissance" placeholder=" " />
            <label>Lieu de naissance<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <select name="sexe" formControlName="sexe" >
              <option value="" disabled selected hidden></option>
              <option value="masculin">Masculin</option>
              <option value="feminin">Féminin</option>
            </select>
            <label>Sexe<span style="color: red;">*</span></label>
          </div>
        </fieldset>
  
        <!-- Autres informations -->
        <fieldset>
          <legend>Autres informations</legend>
  
          <div class="form-group">
            <input type="text" name="adresse" formControlName="adresse" placeholder=" " />
            <label>Adresse<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input type="text" name="telephone" formControlName="telephone" placeholder=" " />
            <label>Téléphone<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input type="text" name="fonction" formControlName="fonction" placeholder=" " />
            <label>Fonction<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <select name="region" formControlName="region"  (change)="onRegionSelected($event)">
              <option value="" disabled selected hidden></option>
              <option *ngFor="let region of regions" [value]="region.id">{{ region.nom }}</option>
            </select>
            <label>Région<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group" *ngIf="isSelect">
            <select name="departement" formControlName="departement">
              <option value="" disabled selected hidden></option>
              <option *ngFor="let d of departements" [value]="d.id">{{d.nom}}</option>
            </select>
            <label>Département<span style="color: red;">*</span></label>
          </div>
  
          <div class="form-group">
            <input type="file" name="file[]" formControlName="file" multiple id="files" accept=".pdf, .jpg, .jpeg, .png" (change)="onImageUploads($event)" />
            <label for="files">Scanner CNI<span style="color: red;">*</span></label>
            <small class="text-muted d-block" style="color: red!important ;">Formats acceptés : jpeg, jpg, png, pdf<br>Obligatoire: le scanne de votre piece d'identité recto verso est requis.</small>
          </div>
  
          <div class="form-group" *ngIf="filePreview && filePreview.length > 0">
            <div *ngFor="let preview of filePreview" class="mb-3">
              <iframe *ngIf="preview" [src]="preview" width="100%" height="200"></iframe>
            </div>
          </div>
        </fieldset>
      </div>
  
      <div class="form-group text-center mt-4">
        <button class="btn btn-danger mr-2" type="button">Annuler</button>
        <button *ngIf="!loading" type="submit" class="btn btn-success" [disabled]="demandeurForm.invalid" (click)="onCreate()">Valider</button>
        <div *ngIf="loading" class="d-flex justify-content-center mt-2">
          <div class="spinner-border" role="status">
            <span class="sr-only">Chargement...</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  
</div>
<app-footer></app-footer>




