<aside class="sidebar">
   
    <nav class="sidebar-nav" style="margin-top: 250px;">
      <ul class="nav-list">
        <!-- Exemple d'élément -->
       <ul style="margin-bottom: 20px;">
        <li class="nav-item dropdown-container">
          <h4>Statistiques</h4>
      </li>

       </ul>
      <ul style="margin-top: 10px;">
        <li class="nav-item dropdown-container">
          <a routerLink="#" style="color: white;">Region <i class="bi bi-bar-chart-fill"></i></a>
     </li>
     <li class="nav-item dropdown-container">
      <a routerLink="/statistiques-department" style="color: white;">Départements <i class="bi bi-bar-chart"></i></a>
    </li>
      </ul>


      </ul>
    </nav>
  </aside>
  <button class="sidebar-menu-button">
    <span class="material-symbols-rounded">menu</span>
  </button>
  