<app-nav></app-nav>
<div class="container mt-5">
    <h3 class="m-4" style="text-transform: capitalize;text-align: center; text-decoration: underline;">Modification de mes informations</h3>
  <div class="row">
    <!-- Formulaire à gauche -->
    <div class="col-12 col-md-6">
      <form>
       
        <fieldset>
          <!-- <h3>Informations personnelles</h3> -->
          <div class="">
            <div class="col-md-9">
              <label><b>NIN</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="nin" [(ngModel)]="currentDemandeur.nin" placeholder="NIN">
            </div>
            <div class="col-md-9">
              <label><b>Prénom</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="prenom" required [(ngModel)]="currentDemandeur.prenom" placeholder="Prénom" #prenom="ngModel">
              <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="text-danger">
                Le prénom est obligatoire.
              </div>
            </div>
            <div class="col-md-9">
              <label><b>Nom</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="nom" required [(ngModel)]="currentDemandeur.nom" placeholder="Nom" #nom="ngModel">
              <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="text-danger">
                Le nom est obligatoire.
              </div>
            </div>
          </div>
          <div class=" g-3 mt-3">
          
            <div class="col-md-9">
              <label><b>Date de naissance</b> <span class="text-danger">*</span> :</label>
              <input 
                type="date" 
                class="form-control" 
                name="datedenaissance" 
                required 
                [value]="currentDemandeur.datedenaissance ? (currentDemandeur.datedenaissance ) : ''" 
                (change)="onDateChange($event)">
            </div>
            <div class="col-md-9">
              <label><b>Lieu de naissance</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="lieudenaissance" required [(ngModel)]="currentDemandeur.lieudenaissance" placeholder="Lieu de naissance" #lieudenaissance="ngModel">
              <div *ngIf="lieudenaissance.invalid && (lieudenaissance.dirty || lieudenaissance.touched)" class="text-danger">
                Le lieu de naissance est obligatoire.
              </div>
            </div>

            <div class="col-md-9">
              <label><b>Teéléphone</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="telephone" required [(ngModel)]="currentDemandeur.telephone" placeholder="telephone" #lieudenaissance="ngModel">
              <div *ngIf="lieudenaissance.invalid && (lieudenaissance.dirty || lieudenaissance.touched)" class="text-danger">
                Le lieu de naissance est obligatoire.
              </div>
            </div>

            <div class="col-md-9">
              <label><b>Email</b> <span class="text-danger">*</span> :</label>
              <input type="text" class="form-control" name="email" required [(ngModel)]="currentDemandeur.email" placeholder="email" #lieudenaissance="ngModel">
              <div *ngIf="lieudenaissance.invalid && (lieudenaissance.dirty || lieudenaissance.touched)" class="text-danger">
                Le lieu de naissance est obligatoire.
              </div>
            </div>
            
            <div class="col-md-9">
              <label><b>Sexe</b> <span class="text-danger">*</span> :</label>
              <select class="form-control" name="sexe" required [(ngModel)]="currentDemandeur.sexe" #sexe="ngModel">
                <option value="">Choisir</option>
                <option value="masculin">Masculin</option>
                <option value="feminin">Féminin</option>
              </select>
              <div *ngIf="sexe.invalid && (sexe.dirty || sexe.touched)" class="text-danger">
                Le sexe est obligatoire.
              </div>
            </div>
          </div>
        
          <div class="col-md-9">
            <label><b>Adresse</b> :</label>
            <input type="text" class="form-control" name="adresse" [(ngModel)]="currentDemandeur.adresse" placeholder="Adresse">
          </div>
          
          <div class="col-md-9">
            <label><b>Fonction</b> :</label>
            <input type="text" class="form-control" name="fonction" [(ngModel)]="currentDemandeur.fonction" placeholder="Fonction">
          </div>
        

          <div class="col-md-9">
            <!-- Région -->
                       <label class="mt-2"><b>Région</b><span style="color: red;">*</span></label>
                <select 
                name="region" 
                class="form-control" 
                [(ngModel)]="currentDemandeur.region" 
                (change)="onRegionSelected($event)" 
                #region="ngModel" 
                required>
                <option value="" disabled hidden>-- Choisir une région --</option>
                <option *ngFor="let region of regions" [value]="region.id">{{ region.nom }}</option>
                </select>
                <!-- Département -->
                <label   class=" mt-3" ><b>Département</b><span style="color: red;">*</span></label>

                <select 
                name="departement" 
                class="form-control" 
                [(ngModel)]="currentDemandeur.departement" 
                #departement="ngModel" 
                required>
                <option value="" disabled hidden>-- Choisir un département --</option>
                <option *ngFor="let d of departements" [value]="d.id">{{ d.nom }}</option>
                </select>


          </div>


          <div class="col-md-9 mt-3">
            <label for="files"><b>Scanner CNI</b><span style="color: red;">*</span></label>
            <input type="file" name="file[]" multiple id="files" accept=".pdf, .jpg, .jpeg, .png" (change)="onImageUploads($event)" />
            <small class="text-muted d-block" style="color: red!important;">
              Formats acceptés : jpeg, jpg, png, pdf<br>
              Obligatoire: le scan de votre pièce d'identité recto verso est requis.
            </small> 
          </div>
          
          
          
        </fieldset>
        <fieldset class="mt-4">
          <div class="d-flex">
            <button type="button" class="btn btn-danger me-2" (click)="annuler()">Annuler</button> &nbsp; &nbsp;
            <button *ngIf="!loading" type="submit" class="btn btn-success" (click)="onUpdate()">Valider</button>
            <div *ngIf="loading" class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <!-- Iframe à droite -->
    <div class="col-12 col-md-6">
   
        <div class="form-group" *ngIf="currentDemandeur.fieluploads?.length">
            <div *ngFor="let image of currentDemandeur.fieluploads" class="mb-3">
              <iframe
                [src]="santizer.bypassSecurityTrustResourceUrl(urlimage + '/api/uploads/getImageByIdFile/' + image.id)"
                class="w-100"
                style="height: 200px;"
                frameborder="0">
              </iframe>
            </div>
          </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
