<app-nav></app-nav>
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div  class="alert alert-danger" *ngIf="err==1" >
        <strong>login ou mot de passe incorrect</strong>
      </div>
      <form >
        <div class="form-group">
          <label >Nouveau mot de passe :</label>
          <input type="password" name="password" [(ngModel)]="newPassworRequest.newPassword"
                 class="form-control" #nouveaumotdepasse="ngModel" required>
                 <div *ngIf="nouveaumotdepasse.invalid && (nouveaumotdepasse.dirty || nouveaumotdepasse.touched)" class="alert alert-danger">
                  <div *ngIf="nouveaumotdepasse.errors?.['required']">
                    nouveau mot de passe est obligatoire.
                  </div>
                </div>
        </div>
        <div class="form-group">
          <label >Confirmation du nouveau mot de passe :</label>
          <input type="password" name="password" [(ngModel)]="newPassworRequest.confirmPassword"
                 class="form-control" #confirmenouveaumotdepasse="ngModel" required>
                 <div *ngIf="confirmenouveaumotdepasse.invalid && (confirmenouveaumotdepasse.dirty || confirmenouveaumotdepasse.touched)" class="alert alert-danger">
                  <div *ngIf="confirmenouveaumotdepasse.errors?.['required']">
                    confirmer le nouveau mot de passe est obligatoire.
                  </div>
                </div>
        </div>
        <div class="row justify-content-md-center">
          <button *ngIf="loading==false" type="button" class="btn btn-success" (click)="onChange()">valider</button>
          <div *ngIf="loading==true" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
