.logo {
  width: 100%;
  height: 4px;
  
}
p{
  font-size: 13px;
}
.div{
  background-color: #f2f2f2f2;
  padding: 1px;
}
.down{
  margin-top: 2px;
}
.top{
  margin-top: 10px;
}
 p{
  text-align: center;
}

