   .buttons {
    margin-bottom: 10px;
  }
  button {
    margin-right: 5px;
    padding: 5px 10px;
  }
  button.active {
    background-color: #007bff;
    color: white;
  }
  .container{
    /* margin-left: 225px; */
  }