<app-nav></app-nav>

<div class="container">
  <div >
    <div>

      <div class="row">
        <div class="col-6">
          <div class="card shadow rounded" style="height: 65vh;">
            <div class="card-header bg-primary text-white">
              Statistique de la journée
            </div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsBarDays"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>


          </div>
        </div>

        <div class="col-6">
          <div class="card shadow rounded" style="height: 65vh;">
            <div class="card-header bg-primary text-white">
              Répartition par genre
            </div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsBarBySexe" [(update)]="updateFlag"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>

          </div>
        </div>
      </div>

      <!-- atll-demande -->
      <div class="row mt-4">
        <div class="col-12">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            TOUTES LES DEMANDES
            <select class="form-select w-auto" [(ngModel)]="selectedChartTypeAllDemande">
              <option value="bar">Bar</option>
              <option value="pie">Pie</option>
              <option value="line">Line</option>
            </select>
          </div>
          <div class="card shadow rounded">
            <highcharts-chart [Highcharts]="Highcharts"
              [options]="getChartOptionsTypeAllDemande(selectedChartTypeAllDemande)"
              style="width: 90%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
        </div>

      </div>

      <!-- week -->
      <!-- Sélecteur global de semaine -->

      <div class="row mt-3">
        <div class="col-12">
          <div class="card shadow rounded" style="height: 65vh;">
            <div class="card-header bg-primary text-white">
              Diagramme Par semaine (statuts + total)
            </div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsBarWeek" [update]="updateFlag"
              style="width: 100%; height: 400px; display: block;"></highcharts-chart>

          </div>
        </div>
      </div>
  <!-- regions -->
      <!-- Sélecteur global de région -->
      <div class="row mt-3">
         <div class="col-12">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            LES REGIONS
            <select class="form-select w-auto" [(ngModel)]="selectedChartTypeRegion">
              <option value="bar">Bar</option>
              <option value="pie">Pie</option>
              <option value="line">Line</option>
            </select>
          </div>
          <div class="card shadow rounded" style="height: 65vh;">
            <highcharts-chart [Highcharts]="Highcharts" [options]="getChartOptionsTypeRegion(selectedChartTypeRegion)"
              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
          </div>
        </div>

      </div>



       <!-- -------- les departements ----- -->

      <div id="myModal" class="modal" *ngIf="isModalOpen" [hidden] = "selectedRegion === 'Autres'">
        <div class="modal-content">
          <button class="close-button" (click)="closeModal()">&times;</button>
          <div class="row my-4" >
            <div class="col-12">
              <div class="d-flex align-items-center gap-4 flex-wrap p-4 bg-light rounded shadow-sm border-start border-4 border-primary">
                
                <!-- Label plus visible avec icône -->
                <label for="regionSelect" class="form-label fw-bold mb-0 d-flex align-items-center fs-5"> 
                  <i class="bi bi-geo-alt-fill text-primary me-2 fs-4"></i>
                  &nbsp; Choisir une région pour voir les départements : &nbsp; &nbsp;
                </label>
          
                <!-- Select plus grand et plus lisible -->
                <select
                  id="regionSelect"
                  class="form-select form-select-lg border-primary shadow-sm"
                  style="min-width: 250px;"
                  [(ngModel)]="selectedRegion">
                  <option *ngFor="let region of regions" [ngValue]="region">
                                   {{ region }}  
                  </option>
                </select>
          
              </div>
            </div>
          </div>

              <!-- DAKAR -->
            <div class="row" *ngIf="selectedRegion === 'Dakar'">
              <div class="col-12">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center rounded-top shadow-sm px-4 py-3">
                  LES DEPARTEMENTS DE LA RÉGION  {{ selectedRegion | uppercase }}
                  
                  <div class="d-flex align-items-center gap-2">
                    <label for="chartType" class="me-2 mb-0">Type :</label>
                    <select id="chartType" class="form-select form-select-sm" [(ngModel)]="selectedChartType">
                      <option value="bar"> Bar</option>
                      <option value="pie"> Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                </div>
                
                <div class="card shadow rounded">
                  <highcharts-chart 
                    [Highcharts]="Highcharts"
                    [options]="getChartOptionsByTypeDakar(selectedChartType)"
                    [update]="updateFlag"
                    style="width: 100%; height: 500px; display: block;">
                  </highcharts-chart>
                </div>
              </div>
            </div>

              <!-- DIOURBEL -->
              <div class="row" *ngIf="selectedRegion === 'Diourbel'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION DIOURBEL
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeDiourbel">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeDiourbel(selectedChartTypeDiourbel)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- FATICK -->
              <div class="row" *ngIf="selectedRegion === 'Fatick'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION FATICK
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeFatick">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeFatick(selectedChartTypeFatick)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- KAFFRINE -->
              <div class="row" *ngIf="selectedRegion === 'Kaffrine'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION KAFFRINE
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeKaffrine">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeKaffrine(selectedChartTypeKaffrine)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- KAOLACK -->
              <div class="row" *ngIf="selectedRegion === 'Kaolack'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION KAOLACK
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeKaolack">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                  <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeKaolack(selectedChartTypeKaolack)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- KÉDOUGOU -->
              <div class="row" *ngIf="selectedRegion === 'Kédougou'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION KÉDOUGOU
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeKedougou">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart
                      [Highcharts]="Highcharts"
                      [options]="getChartOptionsByTypeKedougou(selectedChartTypeKedougou)"
                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>
              <!-- KOLDA -->
              <div class="row" *ngIf="selectedRegion === 'Kolda'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION KOLDA
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeKolda">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeKolda(selectedChartTypeKolda)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- LOUGA -->
              <div class="row" *ngIf="selectedRegion === 'Louga'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION LOUGA
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeLouga">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeLouga(selectedChartTypeLouga)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- MATAM -->
              <div class="row" *ngIf="selectedRegion === 'Matam'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION MATAM
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeMatam">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                  <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeMatam(selectedChartTypeMatam)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart> 
                  </div> 
                </div>
              </div>

              <!-- SAINT-LOUIS -->
              <div class="row" *ngIf="selectedRegion === 'Saint-Louis'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION SAINT-LOUIS
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeSaintLouis">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeSaintLouis(selectedChartTypeSaintLouis)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- SÉDHIOU -->
              <div class="row" *ngIf="selectedRegion === 'Sédhiou'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION SÉDHIOU
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeSedhiou">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeSedhiou(selectedChartTypeSedhiou)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- TAMBACOUNDA -->
              <div class="row" *ngIf="selectedRegion === 'Tambacounda'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION TAMBACOUNDA
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeTambacounda">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeTambacounda(selectedChartTypeTambacounda)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>

              <!-- THIÈS -->
              <div class="row" *ngIf="selectedRegion === 'Thiès'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION THIÈS
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeThies">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart
                      [Highcharts]="Highcharts"
                      [options]="getChartOptionsByTypeThies(selectedChartTypeThies)"
                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>
              <!-- ZIGUINCHOR -->
              <div class="row" *ngIf="selectedRegion === 'Ziguinchor'">
                <div class="col-12">
                  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    LES DEPARTEMENTS DE LA RÉGION ZIGUINCHOR
                    <select class="form-select w-auto" [(ngModel)]="selectedChartTypeZiguinchor">
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="line">Line</option>
                    </select>
                  </div>
                  <div class="card shadow rounded">
                    <highcharts-chart [Highcharts]="Highcharts"
                                      [options]="getChartOptionsByTypeZiguinchor(selectedChartTypeZiguinchor)"
                                      style="width: 100%; height: 500px; display: block;">
                    </highcharts-chart>
                  </div>
                </div>
              </div>
        </div>
      </div>
      
      


      </div>
      

    </div>





  </div>





  <app-footer></app-footer>