app-footer{
  position: fixed;
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
}

.obligatoire{
  color: red;
  width: 20px;
  height: 20px;
}

.gap{
  gap: 15px;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
  min-height: 270vh; 
  /* background-image: url("src/assets/b1.webp"); */
  /* background-image: url('src/assets/p1.jpeg'); */
   /* background-size: cover; */
  /* background-image: url("src/assets/Design sans titre (3).jpg"); */
  margin: 0;
  padding: 0;
} 

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}