.no-wrap{
  flex-wrap: nowrap;
}

app-card{
  padding: 5px;
  margin: 0px;
  color: white;
}
app-card > div {
  padding-top: 10px;
  color: white;
}
.row > div{
  padding: 0px;
}

.lg-section{
  margin-bottom: 150px;
}
.alert{
  color: red;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}
img{
  margin-left: 25px;
  height : 30px;
  width:30px;
  color: greenyellow;
}
.thead{
  background-color: rgb(134, 134, 134);
  color: white;
}
h4{
  font-family: ar;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.fa-pencil-square{
  width: 30px;
  height: 30px;
}
.status-encours {
  color: blue; /* Statut en cours */
  font-weight: bold;
}

.status-approuve {
  color: green; /* Statut approuvé */
  font-weight: bold;
}

.status-rejete {
  color: red; /* Statut rejeté */
  font-weight: bold;
}
.fa-pencil-square{
  color:#bb8e04!important;
}
.fa-eye{
  color:black;
}
.supprimer{
  width: 20px;
  height: 15px;
}


.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #3498db;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.dot-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.dot-loader span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #3498db;
  border-radius: 50%;
  display: inline-block;
  animation: dot-pulse 1s infinite ease-in-out;
}

.dot-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-pulse {
  0%, 100% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}


.statut{
}
table{
  font-size: 15px;

}

