<app-nav></app-nav>
<div class="container">
  <section class="content">
      <div class="row mt-5">
        <app-card class="col-lg-3 col-6" *ngFor="let s of statisques" [infoStatistique]="s"
                  (stringChange)="onStatut($event)">
        </app-card>
    </div>
  </section>
  <section class="content mt-5 lg-section">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <!-- <input class="form-control" style="width: 50%; float: right;" type="search" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Rechercher..." > -->
              <input type="search" style="width: 50%; float: right;" id="form1" [(ngModel)]="searchtext" class="form-control" placeholder="Recherche..." aria-label="search"/> 
              <h4 class="card-title"><b>{{titre}}</b></h4>
            </div>
            <!-- /.card-header -->
            <div class="">
              <table class="table">
                <thead class="thead">
                <tr>
                  <th>Prénom et Nom</th>
                  <th>Date et Lieu de Naissance</th>
                  <th>NIN</th>
                  <th>Statut</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demande of demandes  | filter:searchtext | paginate: {itemsPerPage: itemsPerPage, currentPage: p}">
                  <td>{{demande.demandeurDTO?.fullName | capitalize }}</td>
                  <td>{{demande.demandeurDTO?.datedenaissance | date: 'dd-MM-yyyy'}}  à {{demande.demandeurDTO?.lieudenaissance | capitalize }}</td>
                  <td>{{demande.demandeurDTO?.nin}}</td>
                  <!-- <td>{{demande.statut}}</td> -->
                  <td [ngClass]="{
                     'status-encours': demande.statut  === 'cours',
                     'status-approuve': demande.statut === 'approuvée',
                     'status-rejete': demande.statut === 'rejetée'
                       }">
                      {{ demande.statut | capitalize }}
              </td>
                  <td>
                    <a [routerLink]="['/verification', demande.id]" style="color: goldenrod;">traiter</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- <a [routerLink]="['/update-by-admin',demande.id]" [hidden]="demande.statut == 'approuvee'"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> -->
                    <a [ngClass]="demande.statut!='approuvée' ? 'inactiveLink' : '' " [routerLink]="['/visualiser', demande.id]" target="_blank"  [hidden]="demande.statut == 'cours'">
                      <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                      <i class="bi bi-eye text-dark"></i>
                    </a> &nbsp;
                    <a (click)="clickMethod(demande.id)" style="color: red;">
                      <!-- <img class="supprimer" src="/assets/supprimer.png" alt=""> -->
                      <i class="bi bi-trash3"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="py-4 flex justify-center item-center page  mt-3">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
    </div>

  </section>

</div>
<app-footer></app-footer>

